.DS_Store

LegGuide.xcodeproj/project.pbxproj
LegGuide.xcodeproj/project.xcworkspace/xcuserdata/user.xcuserdatad/UserInterfaceState.xcuserstate
LegGuide.xcodeproj/project.xcworkspace/xcuserdata/user.xcuserdatad/xcdebugger/
LegGuide.xcodeproj/xcuserdata/user.xcuserdatad/xcdebugger/
Build/
LegGuide.xcodeproj/project.xcworkspace/xcuserdata/jhassell.xcuserdatad/
LegGuide.xcodeproj/xcuserdata/jhassell.xcuserdatad/
LegGuide.xcworkspace/xcuserdata/jhassell.xcuserdatad/
